<ConfigController />

<div class="h-screen flex overflow-hidden bg-gray-100">
  <div class="flex flex-shrink-0">
    <div class="flex flex-col w-64">
      <Examples::SideBar />
    </div>
  </div>

  <div class="flex flex-col w-0 flex-1 overflow-hidden">
    <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none" tabindex="0">
      <div class="pt-2 pb-6 md:py-6">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
          <h1 class="text-2xl font-semibold text-gray-900 mb-4">
            Focus Finder Demo, use the arrow keys to navigate through all the links on this page... more tweaks and info coming soon.
          </h1>
        </div>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
          <div class="py-4">
            <div class="border-4 border-dashed border-gray-200 rounded-lg p-4">
              <h2 class="text-1xl font-semibold text-gray-900 mb-4">
                Grids are easy.
              </h2>
              <div class="relative">
                <Examples::Grid />
              </div>
            </div>

            <div class="border-4 border-dashed border-gray-200 rounded-lg p-4">
              <h2 class="text-1xl font-semibold text-gray-900 mb-4">
                Sparse Grids of Randomly places elements (right now we ignore elements that overlap)
              </h2>
              <div class="relative">
                <Examples::SparseGrid />
              </div>
            </div>

            <div class="border-4 border-dashed border-gray-200 rounded-lg p-4">
              <h2 class="text-1xl font-semibold text-gray-900 mb-4">
                These are harder, I think this is because the distance between some of the links is 0px, and being filtered out as 'overlapping'
              </h2>
              <Examples::LargeCards />
            </div>

            <div class="border-4 border-dashed border-gray-200 rounded-lg p-4">
              <Examples::ShortCards />
            </div>

            <div class="border-4 border-dashed border-gray-200 rounded-lg p-4">
              <Examples::StatCards />
            </div>

            <div class="border-4 border-dashed border-gray-200 rounded-lg p-4">
              <Examples::Rows />
            </div>

            <div class="border-4 border-dashed border-gray-200 rounded-lg p-4">
              <Examples::NavBar />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

{{outlet}}
